.checkout-container{
  display: flex;
  flex-direction: column;
  background: rgba(1, 29, 10, 0.45);
  margin: 5% auto auto auto;
  width:40%;
  padding:40px;
  border-radius: 25px;
  color:#ffffff;
}
.schedule-details{
  display: flex;
  flex-direction: column;
  background: rgba(1, 29, 10, 0.45);

  padding:20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.71);
}

.split{
  display:flex;
  justify-content: space-between;
}

.selected-seats{
  display: flex;
  flex-direction: column;
  background: rgba(1, 29, 10, 0.45);

  padding:20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.71);
}
.checkout{
  display: flex;
  margin-top:5%;
}

button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin:2% auto 2% auto;
}

.checkoutbutton{
  font-size:25px;
  width:30%;
}
.backbutton{
  background-color: #e55b5b;
  color:white;
  width:20%;
}

button:hover{
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
