.seatselection{
  display:flex;
  flex-direction: column;
}
.cinema-hall {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(1, 29, 10, 0.45);
  margin:auto;
  width:40%;
  padding:40px;
  border-radius: 25px;
  color:#ffffff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row p, .cinema-hall h4{color: rgba(255, 255, 255, 0.49)
}
.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.09);
}

.seat.occupied {
  background-color: #ad3232; /* Red for occupied */
  cursor:not-allowed;
}

.seat.recommended {
  background-color: #c0c037; /* Green for recommended */
}

.selected {
  background-color: #0bb70b;
}

button{
  background-color: #c2fbd7;
  border-radius: 100px;

  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:10px;
}

button:hover{
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.buttons{
  margin-top:20px;
  display:flex;
  align-items: center;
  width:30%;
  justify-content: center;
  margin:auto;
}
.backbutton{
  width:20%;
  background-color: #e55b5b;
  color:white;
}


