<div class="nav">
  <h1>Cinemate</h1>
  <div class="filters">
    <label for="genre">Genre:</label>
    <select id="genre">
      <option value="all">All</option>
      <option value="action">Adventure</option>
      <option value="biography">Biography</option>
      <option value="comedy">Comedy</option>
      <option value="drama">Drama</option>
      <option value="historicaldrama">Historical drama</option>
      <option value="sciencefiction">Science Fiction</option>
    </select>
    <label for="age">Age restriction:</label>
    <select id="age">
      <option value="all">All</option>
      <option value="pg">PG</option>
      <option value="pg13">PG13</option>
    </select>
    <label for="language">Language:</label>
    <select id="language">
      <option value="all">All</option>
      <option value="english">English</option>
    </select>
  </div>
</div>
<div class="moviesdiv">
  <div class="moviediv" *ngFor="let movie of movies" (click)="onMovieClick(movie.id)">
    <img src="{{movie.photo}}">
    <h2>{{movie.movieName}}</h2>
    <div class="movieinf">
    <p>{{ movie.genreNames }}</p>
    <p>{{ movie.ageRestriction }}</p>
    </div>
  </div>
</div>
