<div class="border">
  <div class="nav">
    <h1>Cinemate</h1>
    <div class="filters">
      <label for="genre">Genre:</label>
      <select id="genre" [(ngModel)]="genre" (change)="onFilterChange()">
        <option value="all">All</option>
        <option value="Adventure">Adventure</option>
        <option value="Biography">Biography</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Historical Drama">Historical drama</option>
        <option value="Science Fiction">Science Fiction</option>
      </select>
      <label for="age">Age restriction:</label>
      <select id="age" [(ngModel)]="age" (change)="onFilterChange()">
        <option value="all">All</option>
        <option value="PG">PG</option>
        <option value="PG13">PG13</option>
      </select>
    </div>
  </div>
  <div class="moviesdiv">
    <div class="moviediv" *ngFor="let movie of movies" (click)="onMovieClick(movie.id)">
      <img [src]="movie.photo" alt="Movie photo">
      <h2>{{ movie.movieName }}</h2>
      <div class="movieinf">
        <p>{{ movie.genreNames }}</p>
        <p>{{ movie.ageRestriction }}</p>
      </div>
    </div>
  </div>
</div>
